<head>
	<meta charset="utf-8">
	<meta name="description" content="A starting point for Meteor apps.">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Meteor boilerplate</title>

	<meta name="application-name" content="Meteor Boilerplate">
	<!-- Set the toolbar color for Chrome 39+ on Android (you can use any valid CSS color). -->
	<meta name="theme-color" content="#2ECC71">

	<!-- Detect IE version (adapted for Meteor) -->
	<!--[if lt IE 7 ]> <script type="text/javascript"> $(function(){$('html').addClass('ie6')}); </script> <![endif]-->
	<!--[if IE 7 ]> <script type="text/javascript"> $(function(){$('html').addClass('ie7')}); </script> <![endif]-->
	<!--[if IE 8 ]> <script type="text/javascript"> $(function(){$('html').addClass('ie8')}); </script> <![endif]-->
	<!--[if IE 9 ]> <script type="text/javascript"> $(function(){$('html').addClass('ie9')}); </script> <![endif]-->
</head>
